@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari:wght@400;500;600;700&display=swap");

.Container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: #6b1e2b;
  position: relative;
}

/* Logo + Heading */
.heroLogo {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 15em;
  /* position: relative; */
}

/* Logo */
.logo {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
  top: -7.5em;
  border-radius: 50%;
}

.logo::before{
  content: " ";
  background-color: #d4af37;
}
/* Circular Logo */
.heroLogo img {
  height: 100%;
  width: 100%;
  scale: 1.1;
  object-fit: cover;
  border-radius: 50%;
}

 
.rotateBackground {
  position: absolute;

 width: 135px;
 height: 135px;

  top: 30%;
  left: 50%;

  transform: translate(-50%, -50%);

  border: 1px solid rgba(212, 175, 55, );
  border-radius: 50%;

  animation: rotateCircle 70s linear infinite;
}

/* Sabhi Swastik */
.rotateBackground img {
  position: absolute;

  width: 25px;
  height: 25px;

  object-fit: contain;

  opacity: 0.45;
}

/* 1 — Top */
.rotateBackground img:nth-child(1) {
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
}

/* 2 — Top Right */
.rotateBackground img:nth-child(2) {
  top: 24px;
  right: -10px;
}

/* 3 — Bottom Right */
.rotateBackground img:nth-child(3) {
  bottom: 10px;
  right: 5px;
}

/* 4 — Bottom Left */
.rotateBackground img:nth-child(4) {
  bottom: 10px;
  left: 5px;
}

/* 5 — Top Left */
.rotateBackground img:nth-child(5) {
  top: 24px;
  left: -10px;
}


@keyframes rotateCircle {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

 
/* Glowing effect */
.logo::before {
  content: "";
  position: absolute;

  inset: 0px;

  border-radius: 50%;

  background: radial-gradient(
    circle,
    rgba(212, 175, 55, 0.5) 0%,
    rgba(212, 175, 55, 0.2) 30%,
    rgba(212, 175, 55, 0.05) 55%,
    transparent 75%
  );

  filter: blur(10px);


  animation: spiritualGlow 20s ease-in-out infinite;
}

/* @keyframes spiritualGlow {
  0% {
    transform: scale(0.5);
    opacity: 0.3;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }

  100% {
    transform: scale(0.5);
    opacity: 0.3;
  }
} */


/* Acharya */
.heroLogo h1 {
  margin: 0;

  color: #d4af37;
  font-family: "Cinzel", serif;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 2px;
}
.heroLogo p{
  margin: 0;
  color: #f5e6c8;
  font-family: "Noto Serif Devanagari", serif;
  position: absolute;
  bottom: -1.8em;


}


.tagLine{
   margin: 0;
  color: #f5e6c8;
  font-family: "Noto Serif Devanagari", serif;
  position: absolute;
  font-size: 21px;
  top: 21em;


}

/* श्रद्धा / भक्ति / ज्ञान */
.dec {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0px;
  gap: 65px;
  /* margin-top: 25px; */
}

.dec span {
  color: #f5e6c8;
  font-family: "Noto Serif Devanagari", serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
}
