*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  color:black;
  box-sizing: border-box;
  position: relative;
  /* height: 100vh; */
  padding: 0;
  margin: 0;
    background: 
    
    
    linear-gradient(
      100deg,
      #030712 0%,
      #05101d 0%,
      #010811 55%

  );


background-attachment: fixed;

}

