.head {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  background-color: #1c1c1c; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.container {
  width: 90%;
  max-width: 1400px;
  height: 45px;

  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo / Heading */
.container h1 {
  font-family: "Cinzel", serif;
  margin: 0;
  color: #d4af37;  
  font-size: 28px;
  font-weight: 600;
}

/* Links container */
.items {
  margin: 0;
  padding: 0;

  display: flex;
  align-items: center;
  gap: 65px;

  list-style: none;
}


/* Links */
.items a {
  text-decoration: none;
  color: #f5e6c8; 
  font-size: 16px;
  font-weight: 500;

  transition: color 0.3s ease;
}

.items a:hover {
  color: #d4af37;  
}