.bookingBar{
    height: 10%;
    display: flex;
    padding-left: 2em;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    font-size: 20px;
    margin: 2.5em 0 ;
}

.bookbtn {
    background: linear-gradient(
        135deg,
        #D6B56A,
        #B88A3B
    );

    color: #101522;

    border: none;
    border-radius: 10px;

    padding: 13px 26px;

    font-weight: 600;

    box-shadow:
        0 8px 25px rgba(201, 164, 92, 0.18);

    transition: 0.3s ease;
}

.bookbtn:hover {
    transform: translateY(-2px);

    box-shadow:
        0 12px 35px rgba(201, 164, 92, 0.3);
}

/* .bookbtn{
    width: 100px;
    height: 38px;
    border-radius: 10px;
    background-color: #806C79;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.533);
    border: none;
    font-size: 1rem;
}
.bookbtn:hover{
    background-color:#95818E ;
    box-shadow: 0 0 14px black;
} */

.bookbtn a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 10px;
    /* border: none; */
}

@media (max-width: 480px){
   .bookingBar{
        margin: 3.5em 1em 1.2em;
        gap: 10px;
        p{
            font-size: 16px;
            margin: 0;
        }


} 
.bookbtn{
        width: 80px;
        font-size: 12px;
        height: 33px;
    

}
}